
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="fgValidador" (ngSubmit)="Identificarusuario()">

          <div class="form-outline mb-4">
            <label class="form-label" for="codigo">Código de autenticación</label>
            <input type="text" id="codigo" class="form-control form-control-lg" formControlName="codigo"
              placeholder="Ingresa el código que llegó a tu correo electrónico" />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button [disabled]="!fgValidador.valid" type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Enviar</button>

          </div>

        </form>
      </div>
    </div>
  </div>
</section>