<div class="section"></div>
<main>

    <div class="container">
      <div id="id1" class="z-depth-1 grey lighten-4 row">

        <form [formGroup]="fgValidador" (ngSubmit)="Identificarusuario()" class="col s12" >
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input formControlName="codigo" class='validate' type='text' name='codigo' id='codigo' />
              <label for='codigo'>Ingresa tu código</label>
            </div>
          </div>

            <br />

            <div class='row'>
              <button [disabled]="!fgValidador.valid" type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
            </div>

        </form>
      </div>
    </div>



  <div class="section"></div>
  <div class="section"></div>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
