<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="fgValidador" (ngSubmit)="Registro()">

          <div class="form-outline mb-4">
            <label class="form-label" for="nombres">Nombre</label>
            <input type="text" id="nombres" class="form-control form-control-lg" formControlName="nombres"
              placeholder="Ingresa tu Nombre" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="apellidos">Apellidos</label>
            <input type="text" id="apellidos" class="form-control form-control-lg" formControlName="apellidos"
              placeholder="Ingresa tu apellido" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="telefono_celular">Teléfono celular</label>
            <input type="text" id="telefono_celular" class="form-control form-control-lg" formControlName="telefono_celular"
              placeholder="Ingresa tu teléfono celular" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="telefono_fijo">Teléfono fijo</label>
            <input type="text" id="telefono_fijo" class="form-control form-control-lg" formControlName="telefono_fijo"
              placeholder="Ingresa tu teléfono fijo" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="correo_electronico">Correo electrónico</label>
            <input type="text" id="correo_electronico" class="form-control form-control-lg" formControlName="correo_electronico"
              placeholder="Ingresa tu correo electrónico" />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button [disabled]="!fgValidador.valid" type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Registrarse</button>

          </div>

        </form>
      </div>
    </div>
  </div>
</section>


