<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="fgValidador" (ngSubmit)="RecuperarClave()">

          <div class="form-outline mb-4">
            <label class="form-label" for="correo_electronico">Correo electrónico</label>
            <input type="text" id="correo_electronico" class="form-control form-control-lg" formControlName="correo_electronico"
              placeholder="Ingresa tu correo electrónico" />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button [disabled]="!fgValidador.valid" type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Recuperar contraseña</button>

          </div>

        </form>
      </div>
    </div>
  </div>
</section>

