<div class="section"></div>
<main>

    <div class="container">
      <div id="id1" class="z-depth-1 grey lighten-4 row">

        <form [formGroup]="fgValidador" (ngSubmit)="RecuperarClave()" class="col s12" >
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input formControlName="correo_electronico" class='validate' type='text' name='correo_electronico' id='correo_electronico' />
              <label for='correo_electronico'>Ingresa tu correo electrónico</label>
            </div>
          </div>

            <br />

            <div class='row'>
              <button [disabled]="!fgValidador.valid" type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Recuperar contraseña</button>
            </div>

        </form>
      </div>
    </div>



  <div class="section"></div>
  <div class="section"></div>
</main>


